.App {
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  margin-bottom: 1rem;
  width: 100%;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #C6D3D0;
  transition-duration: 0.5s, 0.5s;
  transition-property: background-color, color;
  font-weight: bold;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  background-color: #C6D3D0;
  box-shadow: #A8B3B1  5px 5px 30px 0, #D0DEDA -5px -5px 30px 0;
}

.button:hover{
  transition-property: border-color, color;
  border-color: black;
  background: black;
  color: #C6D3D0
}

.button:active{
  background: #C6D3D0;
  border-color: #C6D3D0;
  color: black;
  box-shadow: inset #A8B3B1  5px 5px 30px 0, inset #D0DEDA -5px -5px 30px 0;

}